.banner {
  height: 60vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center center;
  background-image: url("../../../assets/images/1920x650.png");

  &__title {
    font-weight: bold;
    font-size: 60px;
  }
  &__wrapper {
    text-align: center;
  }
  &__content {
    font-size: 30px;
  }
}

@media only screen and (max-width: 600px) {
  .banner {
    background-image: url("../../../assets/images/600x600.png");

    &__title {
      font-size: 40px;
    }

    &__content {
      font-size: 20px;
    }
  }
}
